pre.notion-debug {
  background-color: #f4f4f4;
  padding: 20px;
  border-left: 10px solid #ff0000;
  font-size: 10px;
}

.notion-renderer {
  font-size: var(--notion-default-font-size);
  line-height: 1.5;

  flex-shrink: 0;
  flex-grow: 1;
  max-width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  z-index: 4;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;

  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji",
    Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

.notion-heading-1 {
  font-weight: 600;
  font-size: 1.875em;

  margin-top: calc(var(--notion-default-font-size) * 2);
  margin-bottom: 4px;
}

.notion-heading-2 {
  font-weight: 600;
  font-size: 1.5em;

  margin-top: var(--notion-default-font-size);
  margin-bottom: 1px;
}

.notion-heading-3 {
  font-weight: 600;
  font-size: 1.25em;

  margin-top: var(--notion-default-font-size);
  margin-bottom: 1px;
}

.notion-heading-1,
.notion-heading-2,
.notion-heading-3 {
  max-width: 100%;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
  caret-color: rgb(55, 53, 47);
  padding: 3px 2px;
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji",
    Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.3;
}

.notion-todo {
  display: flex;
}

.notion-paragraph {
  max-width: 100%;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
  caret-color: rgb(55, 53, 47);
  padding: 3px 2px;
}

.notion-rich-text {
  white-space: pre-wrap;
  word-break: break-word;
  caret-color: rgb(55, 53, 47);
}

.notion-equation-block {
  display: flex;
  padding: 4px 8px;
  width: 100%;
  flex-direction: column;
  overflow: auto;
  color: inherit;
  fill: inherit;
}

:root {
  --notion-fore-default: rgba(55, 53, 47, 1);
  --notion-fore-gray: rgba(120, 119, 116, 1);
  --notion-fore-brown: rgba(159, 107, 83, 1);
  --notion-fore-orange: rgba(217, 115, 13, 1);
  --notion-fore-yellow: rgba(203, 145, 47, 1);
  --notion-fore-green: rgba(68, 131, 97, 1);
  --notion-fore-blue: rgba(51, 126, 169, 1);
  --notion-fore-purple: rgba(144, 101, 176, 1);
  --notion-fore-pink: rgba(193, 76, 138, 1);
  --notion-fore-red: rgba(212, 76, 71, 1);

  --notion-back-gray: rgba(241, 241, 239, 1);
  --notion-back-brown: rgba(244, 238, 238, 1);
  --notion-back-orange: rgba(251, 236, 221, 1);
  --notion-back-yellow: rgba(251, 243, 219, 1);
  --notion-back-green: rgba(237, 243, 236, 1);
  --notion-back-blue: rgba(231, 243, 248, 1);
  --notion-back-purple: rgba(244, 240, 247, 0.8);
  --notion-back-pink: rgba(249, 238, 243, 0.8);
  --notion-back-red: rgba(253, 235, 236, 1);

  --notion-default-font-size: 16px;
}

* {
  box-sizing: border-box;
  outline: 0;
}
